<template>
    <div class="wrapper">
        <div class="photos">
            <img  
            v-for="item in photos"
            :key="item.id"
            :src="'http://gallery.dev.webant.ru/media/' + item.image.contentUrl"
            @click="openWindow(item.image.contentUrl, item.description, item.name)"
            alt="">
            <show-photo v-if="isWindow"></show-photo>
        </div>
        <el-pagination
            class="el-pagination"
            background
            layout="prev, pager, next"
            :total="totalItems"
            :current-page.sync="currentPage"
            @prev-click="prevPage()"
            @next-click="nextPage()"
            @current-change="currentChange()"
            >
        </el-pagination>
    </div>
</template>

<script>
import { cursorTo } from 'readline';

export default {
    data() {
        return {
            currentPage: 1,
        }
    },
    methods: {
        prevPage() {
            this.$store.dispatch('PREV_PAGE');
        },
        nextPage() {
            this.$store.dispatch('NEXT_PAGE');
        },
        currentChange() {
            this.$store.dispatch('CHANGE_PAGE', this.currentPage);
            this.$store.dispatch('GET_IMAGES');
        },
        openWindow(src, descr, name) {
            this.$store.dispatch('CHANGE_WINDOW', {
                isWindow: true,
                name: name,
                description: descr,
                src: src
            });
        }
    },
    computed: {
        photos() {
            return this.$store.getters.PHOTOS
        },
        isWindow() {
           return this.$store.getters.IS_WINDOW
        },
        totalItems() {
            return this.$store.getters.TOTAL_ITEMS
        }
    },
    mounted() {
        this.$store.dispatch('GET_IMAGES');
    }
}

</script>

<style lang="scss" scoped>

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;

        img {
            width: 250px;
            height: 190px;
            margin: 10px;
            object-fit: cover;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .el-pagination {
        align-self: center;
    }

</style>