<template>
    <div class="wrapper">
        <img src="http://gallery.dev.webant.ru/img/Bitmap.b108dd23.png" alt="">
        <el-menu class="el-menu" :default-active="activeIndex" mode="horizontal" @select="handleSelect">
            <el-menu-item
            class="el-menu-item"
            v-for="item in categories"
            :index="item.id"
            :key="item.id"
            @click="changeCategory(item.id)">
            {{item.title}}
            </el-menu-item>
        </el-menu>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            categories: [
                { title: 'New', id: 1, },
                { title: 'Popular', id: 2 }
            ],
            activeIndex: 1
        }
    },
    methods: {
        changeCategory(id) {
            this.$store.dispatch('CHANGE_CATEGORY', id);
            this.$store.dispatch('GET_IMAGES');
        },
        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        }
    },

}
</script>

<style lang="scss" scoped>

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 30px;
}

img {
    align-self: flex-end;
    width: 122px;
    height: 30px;
    margin-right: 178px;
}

.el-menu {
    flex: 1;

    .el-menu-item {
            line-height: 90px;
    }
}

</style>
