<template>
    <div class="wrapper">
      <div class="modal-wrapper">
        <div class="modal-container" @click="closeWindow()">
            <img :src="photo" alt="">
            <h3>
                {{name}}
            </h3>
            <p>
                {{description}}
            </p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    methods: {
        closeWindow() {
            this.$store.dispatch('CHANGE_WINDOW', false);
        }
    },
    computed: {
        name() {
            return this.$store.state.currentPhotoName
        },
        description() {
            return this.$store.state.currentPhotoDescription
        },
        photo() {
            return 'http://gallery.dev.webant.ru/media/' + this.$store.state.currentPhotoImage
        }
    }
}
</script>

<style lang="scss" scoped>

.wrapper {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;

    img {
        // margin: 30px auto;
        width: 100%;
        height: 510px;
        object-fit: cover;
    }
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
