<template>
    <div id="app">
        <head-menu></head-menu>
        <gallery></gallery>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">

@font-face {
  font-family: 'Acrom-Regular';
  src: url(./assets/Acrom.ttf);
}

body {
    font-family: 'Acrom-Regular';
}

.wrapper {
    color: #ED5992;
}

</style>
